
<% if (admin) { %>
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/admin/home" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary">CBTAcademy</h5>
        </a>

        <div class="navbar-nav w-100">
            <a href="/admin/home" class="nav-item nav-link active mb-2">
              <i class="fa fa-tachometer-alt me-2"></i>
              Dashboard
            </a>

            <a href="/admin/view-lecturer" class="nav-item nav-link mb-2">
                <i class="fa fa-user me-2"></i>Lecturer
            </a>

            <a href="/admin/view-students" class="nav-item nav-link mb-2">
                <i class="fa fa-users me-2"></i>Student
            </a>

            <a href="/admin/view-faculty" class="nav-item nav-link mb-2">
                <i class="fa fa-home me-2"></i>Faculty
            </a>

            <a href="/admin/view-dept" class="nav-item nav-link mb-2">
                <i class="fa fa-building me-2"></i>Department
            </a>

            <a href="/admin/view-session" class="nav-item nav-link mb-2">
                <i class="fa fa-clock me-2"></i>Session
            </a>

            <a href="/admin/view-courses" class="nav-item nav-link mb-2">
                <i class="fa fa-book me-2"></i> Courses
            </a>

            <a href="/admin/view-assigned-courses" class="nav-item nav-link mb-2">
                <i class="fa fa-pen me-2"></i>Assign course
            </a> 

            <a href="/admin/view-admin" class="nav-item nav-link mb-2">
                <i class="fa fa-laptop me-2"></i>Admin
            </a>
            
            <a href="/admin/duration" class="nav-item nav-link mb-2">
                <i class="fa fa-clock"></i>
              Duration
            </a>    
            
            <a href="/admin/settings" class="nav-item nav-link mb-2">
                <i class="fa fa-clock"></i>
              Settings
            </a> 

            <a href="/admin/admin-logout" class="nav-item nav-link mb-2">
                <i class="fa fa-door-open"></i>Logout
            </a>
        </div>
    </nav>
</div>
<% } %>