<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="">
            <div class=" text-center fw-bold text">
                &copy; <a href="#" class="text-primary">CBT - Academy</a> || All Right Reserved. 
            </div>
        </div>
    </div>
</div>
<!-- ###################### footer ends #################### -->





